#demo{
	font: bold italic 2em arial;
	border: 4px solid #3ACF11;
		margin:100px 200px 150px 50px;
		padding:50px 80px 15px;
		background: #6920DD;
		box-shadow: -20px -20px 3px rgba(29,15,178,.2);
		text-shadow: 20px 20px 3px rgba(221,209,32,.2);
		border-radius: 20px;
}
#demo2{border: 4px solid #3ACF11;
	margin-bottom:150px;
		margin-left:50px;
		margin-top:100px;
		margin-right:200px;
		background: rgb(147,23,255);
		box-shadow: -20px -20px 3px rgb(255,201,205) ;
		text-shadow: 20px 20px 3px rgb(255,171,3);
}

#demo3{
	border: 4px solid #FFAB03;
	margin-bottom:150px;
		margin-left:50px;
		margin-top:100px;
		margin-right:200px;
		background: rgb(201,255,225);
		box-shadow: -20px -20px 3px rgb(25,0,255);
		text-shadow: 20px 20px 3px rgb(255,0,0);
	}

#demo4{
	border: 4px solid #ff0000;
	margin-bottom:150px;
		margin-left:50px;
		margin-top:100px;
		margin-right:200px;
		background: rgb(3,255,3);
		box-shadow: -20px -20px 3px rgb(66,255,255);
		text-shadow: 20px 20px 3px rgb(249,171,255);
	}

#demo5{
	border: 4px solid #f9abff;
	margin-bottom:150px;
		margin-left:50px;
		margin-top:100px;
		margin-right:200px;
		background: rgb(255,223,97);
		box-shadow: -20px -20px 3px rgb(199,255,203);
		text-shadow: 20px 20px 3px rgb(166,107,255);
	}


